Solution/packages/
Solution/ContentReview/bin/AutoMapper.Net4.dll
Solution/ContentReview/Umbraco_Client/
Solution/tooorangey.ContentReview/bin/
Solution/ContentReview/Umbraco/
Solution/ContentReview/App_Data/TEMP/ExamineIndexes/MORIYAMA-MARC/InternalMember/Index/write.lock
Solution/ContentReview/App_Data/TEMP/
Solution/ContentReview/App_Data/NuGetBackup/
Solution/ContentReview/bin/
Solution/ContentReview/obj/
Solution/tooorangey.ContentReview/App_Data/NuGetBackup/
Solution/tooorangey.ContentReview/obj/
Solution/ContentReview/App_Data/Models/
Solution/ContentReview/App_Data/Logs/
